.catalog-container {
    margin-top: 26px;
    padding-left: 40px;
    padding-right: 40px;
}

.catalog-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.15rem;
}

.catalog-products {
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 10px 30px;
    justify-content: space-between;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;

}



